<main>

	<div class="section scrollspy" id="videogame-section">
		<div id="frame-container">
			
			<!-- <iframe id="gameframe" allowtransparency="true" src="//scratch.mit.edu/projects/embed/138796209/?autostart=false" frameborder="0" allowfullscreen="true"></iframe> -->

		</div>	   
	</div>

	<div class="section scrollspy" id="text-section">
		
		<div class="instructions-container">

			<img id="instructions-img" alt="the word instructions in yellow 8-bit font" class="responsive-img" src="assets/instructions.png">

		</div>	
			<div id="instructions-text-container">
				<p> blah blah blah blah blah blah </p>
			</div>


		<div class="demo-container">

			<img id="demo-img" alt="the word demo in yellow 8-bit font" class="responsive-img" src="assets/demo.png">

		</div>	
			<div id="demo-text-container">
				<p> blah blah blah blah blah blah </p>
			</div>


		<div class="about-container">

			<img id="about-img" alt="the word about in yellow 8-bit font" class="responsive-img" src="assets/about.png">

		</div>	
			<div id="about-text-container">
				<p> blah blah blah blah blah blah </p>
			</div>

	</div>	<!-- #text-section -->


</main>
