<main>

	<div class="section scrollspy" id="videogame-section">
		<div id="frame-container">
			
			<iframe id="gameframe" allowtransparency="true" src="//scratch.mit.edu/projects/embed/138796209/?autostart=false" frameborder="0" allowfullscreen="true"></iframe>

		</div>	   
	</div>

	<div class="section scrollspy" id="text-section">
		
		<!-- INSTRUCTIONS -->
		<div class="section scrollspy instructions-container" id="instructions-section">

			<img id="instructions-img" alt="the word instructions in yellow 8-bit font" class="responsive-img" src="assets/instructions.png">
			<img id="instructions-x" alt="X" class="menu-closed rotateb " src="assets/x.png">

		</div>	
			<div class="section scrollspy" id="instructions-text-container">
				<p> blah blah blah blah blah blah </p>
			</div>

		<!-- ABOUT -->
		<div class="section scrollspy about-container" id="about-section">

			<img id="about-img" alt="the word about in yellow 8-bit font" class="responsive-img" src="assets/about.png">
			<img id="about-x" alt="X" class="menu-closed rotateb " src="assets/x.png">

		</div>	
			<div class="section scrollspy" id="about-text-container">
				<p> blah blah blah blah blah blah </p>
			</div>

		<!-- DEMO -->
		<div class="section scrollspy demo-container" id="demo-section">

			<img id="demo-img" alt="the word demo in yellow 8-bit font" class="responsive-img" src="assets/demo.png">
			<img id="demo-x" alt="X" class="menu-closed rotateb " src="assets/x.png">

		</div>	
			<div class="section scrollspy" id="demo-text-container">
				<p> blah blah blah blah blah blah </p>
			</div>

	</div>	<!-- #text-section -->


</main>
