<main>

	<div class="section scrollspy" id="videogame-section">
		<div id="frame-container">
			
			<iframe id="gameframe" allowtransparency="true" src="//scratch.mit.edu/projects/embed/138796209/?autostart=false" frameborder="0" allowfullscreen="true"></iframe>

		</div>	   
	</div>

	<div class="section scrollspy" id="text-section">
		
		<!-- INSTRUCTIONS -->
		<div class="container section scrollspy instructions-container" id="instructions-section">

			<img id="instructions-img" alt="the word instructions in yellow 8-bit font" class="responsive-img" src="assets/instructions.png">
			<img id="instructions-x" alt="X" class="menu-closed rotateb " src="assets/x.png">

		</div>	 
			<div class="container section scrollspy" id="instructions-text-container">
				<span id="instructions-images">
					<img id="instructions-car-img" alt="pixelated drawing of a red car" class="responsive-img" src="assets/redcar.png">
					<img id="pollito-img" alt="pixelated drawing of a flying chick" class="responsive-img" src="assets/flying_pollito.gif">
					<img id="net-img" alt="pixelated drawing of a net" class="responsive-img" src="assets/blue_net_R.png">
				<span>	
				<p id="instructions-text"> Grab the net and use it to save the pollitos (chicks). Jump or run to dodge the traffic. Save at least 50% of the pollitos to win. Save all of them for a perfect score! <br> Use: <br> ---------- Arrow keys to go right/left <br> ---------- Spacebar or up arrow to jump <br> ---------- M to mute sound <br> ---------- Q to abort </p>
			</div>

		<!-- ABOUT -->
		<div class="container section scrollspy about-container" id="about-section">

			<img id="about-img" alt="the word about in yellow 8-bit font" class="responsive-img" src="assets/about.png">
			<img id="about-x" alt="X" class="menu-closed rotateb " src="assets/x.png">

		</div>	
			<div class="container section scrollspy" id="about-text-container">
				<p> Once when my boyfriend was a kid in the Dominican Republic, he was in a car driving up a mountain road, when, ahead of him, a truck crashed. This truck happened to be transporting chickens...and all the little chicks (pollitos in spanish) flew out of the truck and splattered on the road. He was traumatized. 
					<img id="about-crying-img" alt="pixelated drawing of a crying boy" class="responsive-img" src="assets/crying.gif">
				<br> Now I've given him a chance to save all those pollitos before they splatter on the road.<br> *****************************************************************************************************************************  </p>
				<p> <b> THIS GAME IN NO WAY PROMOTES VIOLENCE AGAINST ANIMALS. <b> I'm a stray-dog-adopting vegetarian who loves animals. ✌ </p>
				<p> ***************************************************************************************************************************** <br> <b> Credits <b> <br> All background and character art drawn by me on: make8bitart.com <br> Sniffling, Yay, and Hooray sounds recorded by me. <br> All other sounds from Scratch library. <br> Apostrophe, and exclamation mark, drawn by me. <br> Font by Hudson Regis Oliveira Silva, aka "Puddin" on Open Game Art: opengameart.org/content/8-bit-personalized-alphabet-only-letters</p>
				<div class="container">
            		© 2017 <i> No </i> &#128035; &#128037; &#128037;<i>  were hurt in the making of this game.</i>
            	</div>
			</div>

		<!-- DEMO -->
		<div class="container section scrollspy demo-container" id="demo-section">

			<img id="demo-img" alt="the word demo in yellow 8-bit font" class="responsive-img" src="assets/demo.png">
			<img id="demo-x" alt="X" class="menu-closed rotateb " src="assets/x.png">

		</div>	
			<div class="container section scrollspy" id="demo-text-container">
				<p> blah blah blah blah blah blah </p>
			</div>

	</div>	<!-- #text-section -->


</main>
