@import "materialize/components/color";
$primary-color: color("blue", "lighten-2") !default;
$secondary-color: color("yellow", "base") !default;
@import 'materialize';
@import "materialize/extras/nouislider";


/// ***  blues (sky): #5161fb, #368df9, #4a98f9;
/// ***  blues (overalls): #223bec; #0a26ea;
/// ***  blues (mountain): #4bd652, #01084e, #05336f
/// ***  yellows: #fdee39, #ffff00, #ffff7a, 
/// ***  reds: #ec301a, #fb4024, #fc583b
/// ***  greens: #128d19, #29982f, #1fcc27, #4bd652
/// ***  browns: #6d3e0a, #94330e, #9c3108, #ae4720
/// ***  beiges: #fdcd92, #fedcb3
/// ***  orange: #fd962c 
/// ***  greys: #282b2a, #808080

/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav {
  background-color: transparent;
}


#top-section {
  height: 75vh;
  padding: 0;
  background-color: rgba(0,0,0,0);
}


body {
  // height: 100vh;	
  background: url("skypixel.png");
  background-size: cover;
}


footer.page-footer {
  margin: 0;
  padding-top: 20vh;
  background: url("landclear.png");
  background-repeat: no-repeat;
  background-size: cover;
}


footer.page-footer .footer-copyright {
  background-color: rgba(0,0,0,.4);
}


div#videogame-section {
  height: 100vh;
  padding-top: 20vh;
}


div#frame-container {
  margin: auto;
  overflow: hidden; 
  height: 360px; 
  width: 480px;
}


#gameframe {
  width: 485px;
  height: 402px;
  display: block;
  margin-top:-39px; 
  margin-left:-2px;
}



// img#title-massacre {
//   // margin-left: 10vw;
//   // margin-right: 10vw; 
//   margin-top: 20vh;
//   margin-bottom: 20vh;
// }

// img#title-pollito {
//   // margin-left: 10vw;
//   // margin-right: 10vw; 
//   margin-top: 20vh;
//   margin-bottom: 20vh;
// }


// ****************************************************************** 

/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */    
    height: 0;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background: url("grassyfield.png");
    background-repeat: no-repeat;
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
    font-size: 50px;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 20px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

img#opening-x {
	position: absolute;
    margin: auto;
    padding: 15px 15px 5px 15px;
	height: 50px;
	-webkit-transition: -webkit-transform 1.2s ease-in-out;
	transition:  transform 1.2s ease-in-out;
	position: fixed;
    z-index: 2;

}

// img#opening-x:hover, img#opening-x:focus {
//   -moz-transform: scale(1.2);
//   -webkit-transform: scale(1.2);
//   transform: scale(1.2);
// }

.rotatef {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.rotateb {
  -webkit-transform: rotate(-360deg);
  transform: rotate(-360deg);
}

#myNav {
	 -webkit-transition-delay: .2s; /* Safari */
    transition-delay: .2s;
}


