@import "materialize/components/color";
$primary-color: color("blue", "lighten-2") !default;
$secondary-color: color("yellow", "base") !default;
@import 'materialize';
@import "materialize/extras/nouislider";


/// ***  blues (sky): #5161fb, #368df9, #4a98f9;
/// ***  blues (overalls): #223bec; #0a26ea;
/// ***  blues (mountain): #4bd652, #01084e, #05336f
/// ***  yellows: #fdee39, #ffff00, #ffff7a, 
/// ***  reds: #ec301a, #fb4024, #fc583b
/// ***  greens: #128d19, #1fcc27, #4bd652
/// ***  browns: #6d3e0a, #94330e, #9c3108, #ae4720
/// ***  beiges: #fdcd92, #fedcb3
/// ***  orange: #fd962c 
/// ***  greys: #282b2a, #808080

/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */


#top-section {
  height: 75vh;
  padding: 0;
  background-color: rgba(0,0,0,0);
}

body {
  // height: 100vh;	
  background: url("skypixel.png");
  background-size: cover;
}

div#videogame-section {
  height: 100vh;
  padding-top: 20vh;
}

footer.page-footer {
  margin: 0;
  padding-top: 20vh;
  background: url("landclear.png");
  background-repeat: no-repeat;
  background-size: cover;
}

footer.page-footer .footer-copyright {
  background-color: rgba(0,0,0,.4);
}

nav {
  background-color: transparent;
}

#gameframe {
  width: 485px;
  height: 402px;
  display: block;
  margin-top:-39px; 
  margin-left:-2px;
}

div#frame-container {
  margin: auto;
  overflow: hidden; 
  height: 360px; 
  width: 480px;
}


// img#title-massacre {
//   // margin-left: 10vw;
//   // margin-right: 10vw; 
//   margin-top: 20vh;
//   margin-bottom: 20vh;
// }

// img#title-pollito {
//   // margin-left: 10vw;
//   // margin-right: 10vw; 
//   margin-top: 20vh;
//   margin-bottom: 20vh;
// }



