@import "materialize/components/color";
$primary-color: color("blue", "lighten-2") !default;
$secondary-color: color("yellow", "base") !default;
@import 'materialize';
@import "materialize/extras/nouislider";


/// ***  blues (sky): #5161fb, #368df9, #4a98f9;
/// ***  blues (overalls): #223bec; #0a26ea;
/// ***  blues (mountain): #4bd652, #01084e, #05336f
/// ***  yellows: #fdee39, #ffff00, #ffff7a, 
/// ***  reds: #ec301a, #fb4024, #fc583b
/// ***  greens: #128d19, #29982f, #1fcc27, #4bd652
/// ***  browns: #6d3e0a, #94330e, #9c3108, #ae4720
/// ***  beiges: #fdcd92, #fedcb3
/// ***  orange: #fd962c 
/// ***  greys: #282b2a, #808080

/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

// ****************************************************************** 
// ****************************************************************** 
// ****************************************************************** 


.centered {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

// ****************************************************************** 



.rotatef {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.rotateb {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

#hide-maintain-space {
  visibility: hidden;
}

nav {
  background-color: transparent;
  // background-color: #000;
  margin-bottom: 30px;
}

.navscroll { 
  background-color: #5161fb;
}

// .socialmedia a {
// 	display: inline;
// }


.socialmedia {
	position: absolute;
	top: 0px;
    left: 0px;
    margin: auto;
    padding: 15px 15px 5px 15px;
	// height: 20vw;
	-webkit-transition: -webkit-transform .5s ease-out;
	transition:  transform .5s ease-out;
    z-index: 4;
}


.socialmedia img {
	cursor: hand;
	cursor: pointer;
	width: 50px;
	padding: 2px;
}


.table-of-contents {
	position: absolute;
	top: 0px;
    right: 172.58px;
    // margin: auto;
    padding: 10px 0px 5px 15px;
	// height: 50px;
	-webkit-transition: -webkit-transform .8s ease-in-out;
	transition:  transform .8s ease-in-out;
}

.table-of-contents img {
	cursor: hand;
	cursor: pointer;
	height: 30px;
	padding: 15px, 2px, 15px, 2px;
}


#top-section {
  position: relative;
  height: 100vh;
  padding-bottom: 10vw;
}


body {
  // height: 100vh;	
  background: url("skypixel.png");
  background-size: cover;
}


footer.page-footer {
  margin: 0;
  padding-top: 20vh;
  height: 60vh;
  background: url("landclear.png");
  background-repeat: no-repeat;
  background-size: cover;
}


// @media only screen and (max-width: 500px) {	
// 	footer {
// 		height: 90vh;
// 	}

// }



div#videogame-section {
  height: 60vh;
}


div#frame-container {
  margin: auto;
  overflow: hidden; 
  height: 360px; 
  width: 480px;
}


#gameframe {
  width: 485px;
  height: 402px;
  display: block;
  margin-top:-39px; 
  margin-left:-2px;
}

#text-section {
	min-height: 70vh;
	// height: 70vh;
	overflow: auto;
	// padding-top: 65px;
}

#text-section img {
	cursor: hand;
	cursor: pointer;
}

div.instructions-container {
	width: 40vw;
	margin: auto;
}

div.about-container {
	width: 14vw;
	margin: auto;
}

div.demo-container {
	width: 12vw;
	margin: auto;
}


div#instructions-text-container, div#about-text-container, div#demo-text-container {
	display: none;
	width: 75vw;
	margin: auto;
	height: 50vh ;
	background-color: #414FC9;
	margin-bottom: 10px;
	margin-top: 10px;
}

#instructions-x, #about-x, #demo-x {
	display: block;
	margin: auto;
	width: 2vw;
	padding-top: 0;
	-webkit-transition: -webkit-transform .5s ease-in-out;
	transition:  transform .5s ease-in-out;
}

#about-img, #demo-img {
	padding-top: 5vw;
	padding-bottom: 3px;
}

#instructions-img {
	padding-bottom: 3px;
}


#instructions-img:hover, #instructions-img:focus, #about-img:hover, #about-img:focus, #demo-img:hover, #demo-img:focus {  
  -webkit-transition: -webkit-transform .8s ease-in-out;
  transition:  transform .8s ease-in-out;
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.socialmedia img:focus, .socialmedia img:hover {
  -webkit-transition: -webkit-transform .5s ease-in-out;
  transition:  transform .5s ease-in-out;
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}


// ****************************************************************** 

// => CSS5 Flexbox:
.hero {
	position: relative;
	display: flex;
	display: -webkit-flex;
   	justify-content: center;
}

img#title-massacre {
  display:block;
  margin: auto;
  min-width: 64vw;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px; 
  padding-bottom: 2vw;
}

img#title-pollito {	
  display:block;
  margin: auto;
  min-width: 60vw;
  padding-top: 10px;
  padding-left: 40px;
  padding-right: 30px;
  padding-bottom: 2vw;
}


#title-whole {
  padding-top: 20vh;
}

// @media screen and (min-width: 992px) {

// }


div.caret-wrapper {
	position: absolute; 
    bottom: 0; 
	width: 7vh;
}

img#caret {
	margin-bottom: -15vh;
	cursor: hand;
	cursor: pointer;	
}


.blink-image {
    -moz-animation: blink normal 2s infinite ease-in-out; // Firefox 
    -webkit-animation: blink normal 2s infinite ease-in-out; // Webkit 
    -ms-animation: blink normal 2s infinite ease-in-out; // IE 
    animation: blink normal 2s infinite ease-in-out; // Opera and prob css3 final iteration 
}


// Firefox old
@-moz-keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0.3;
    }
    100% {
        opacity:1;
    }
} 

@-webkit-keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0.3;
    }
    100% {
        opacity:1;
    }
}

// IE
@-ms-keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0.3;
    }
    100% {
        opacity:1;
    }
} 

// Opera and latest css3 
@keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0.3;
    }
    100% {
        opacity:1;
    }
} 

// ****************************************************************** 

/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */    
    height: 0;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top */
    left: 0;
    top: 0;

    background-color: #414FC9;
    // background: url("grassyfield.png");
    // background-repeat: no-repeat;

    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
    font-size: 50px;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 20px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay img#closing-x {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

img#opening-contact {
	cursor: hand;
	cursor: pointer;
	position: absolute;
    right: 0px;
    margin: auto;
    padding: 15px 15px 5px 15px;
	height: 50px;
	-webkit-transition: -webkit-transform .8s ease-in-out;
	transition:  transform .8s ease-in-out;
	position: fixed;
    // z-index: 2;
}


img#closing-x {
	position: absolute;
    top: 20px;
    right: 20px;
    height: 50px;
    -webkit-transition: -webkit-transform .8s ease-in-out;
	transition:  transform .8s ease-in-out;
}


img#opening-contact:hover, img#opening-contact:focus {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

img#closing-x:hover, img#closing-x:focus {
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

// ****************************************************************** 


 
#red-car {
	z-index: 2;
	position: relative;
 	width: 20vw;
 	display:block;
	margin: auto;
	bottom: 200px;
}






