<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
    <title>PollitoMassacreSite</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
	
	<div class="section scrollspy" id="top-section"> 
    	<div class="hero">

    	</div> <!-- hero -->
    </div> <!-- top-section -->


    <%= yield %>

    <footer class="page-footer">
            <div class="footer-copyright">
            <div class="container">
            
            <p class="center"> Made with <span class="red-text"> &hearts; </span> and &#9749; </p>
            </div>
          </div>      
    </footer>

  </body>
</html>
